.fas {
  color: black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  grid-area: header;
}
.material-icons-outlined {
  color: black;
  padding: 0px 7px;
  cursor: pointer;
}
.header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-left img {
  width: 100px;
  margin-left: 15px;
}
.header i {
  padding: 0px 7px;
  cursor: pointer;
}
.header-search form {
  border: whitesmoke;
  height: 36px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.header-search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  font-size: 15px;
}
.header-search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.mic {
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 25px;
  color: black;
}
.header-icons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  font-size: 20px;
  width: 15vw;
  color: azure;
}
