.banner-area {
  display: block;
}
.banner-area img {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 45vh;
}
.main-body {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}
