.side-bar {
  height: 100vw;
  width: 230px;
  overflow-y: scroll;
  background-color: white;
}
.side-bar-categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}
.side-bar-category span {
  margin-left: 15px;
}
.side-bar-category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}
.side-bar-category:hover {
  background: gray;
  cursor: pointer;
}
