@import url(./var.css);
@import url(./header.css);
@import url(./main-body.css);
@import url(./side-bar.css);
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Poppins:wght@300&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 10vw 90vw;
  grid-template-rows: 3vw 90vw;
  grid-template-areas:
    "header header"
    "sidebar main";
}
